body{
  background: url("https://res.cloudinary.com/drjbwsmae/image/upload/v1572273292/magneto/magneto/magnetobg2_i7sv7m.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}