<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <title>Cart List</title>
</head>
<body>


<!--Navbar-->
<div th:insert="base :: navbar"></div>
<br/>

<br>

<!--

<div class="container">
    <div class="row">
        <div class="col">

            <div class="alert alert text-center" style="background-color: lightsalmon" role="alert">
                <h2>Shopping cart</h2>
            </div>


            <h1 th:text="${productnames}"></h1>

            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col">Image URL</th>
                    <th scope="col">Active</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
&lt;!&ndash;                <span th:if="${myuser.product.productId == product.productId}">&ndash;&gt;
                <tr th:each="product : ${products}">
&lt;!&ndash;                    <td th:text="${product.firstName}"></td>&ndash;&gt;
&lt;!&ndash;<tr>&ndash;&gt;
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.description}"></td>
                    <td th:text="${product.price}"></td>
                    &lt;!&ndash;                    <td th:text="${product.imageURL}"></td>&ndash;&gt;
                    <td img src="${product.imageURL}" alt=" " class="card-img-top" ></td>
                    <td th:text="${product.active}"></td>
                    <td>

                        <div sec:authorize="hasAuthority('ADMIN')">
                            <a th:href="@{/update/{id}(id=${product.productId})}" type="button" class="btn btn-outline-success">Update</a>
                            <a th:href="@{/delete/{id}(id=${product.productId})}" type="button" class="btn btn-outline-success">Delete</a>
                        </div>

                        <a th:href="@{/detail/{id}(id=${product.productId})}" type="button" class="btn btn-outline-success">Details</a>
&lt;!&ndash;                        <a th:href="@{/addtoCart/{id}(id=${product.productId})}" type="button" class="btn btn-outline-success">Add to Cart</a> - &ndash;&gt;
                    </td>
                </tr>
&lt;!&ndash;                </span>&ndash;&gt;
                </tbody>
            </table>
        </div>
    </div>
</div>
-->



<div class="container">

    <h1 class="jumbotron">
        <span sec:authentication="name"></span>'s Shopping Cart
    </h1>

    <div class="alert alert-info" th:if="${outOfStockMessage}" th:utext="${outOfStockMessage}"></div>

    <div class="panel-default well" th:each="product : ${products.entrySet()}">
        <div class="panel-heading">
            <h1><a th:text="${product.getKey().name}" th:href="@{'/product/' + ${product.getKey().productId}}">Title</a></h1>
            <h3 th:text="${product.getKey().description}">Description</h3>
        </div>
        <div class="row panel-body">
            <div th:inline="text" class="col-md-2">Price: $ [[${product.getKey().price}]] </div>
            <div th:inline="text" class="col-md-9">Quantity: [[${product.getValue()}]]</div>
            <a th:href="@{/removeProduct/{id}(id=${product.getKey().productId})}" class="col-md-1">
                <button type="button" class="btn btn-primary" th:text="Remove">Remove</button>
            </a>
        </div>
        <br></br>
    </div>

    <div class="row panel-body">
        <h4 class="col-md-11" th:inline="text">Total: $ [[${total}]]</h4>
        <h4 class="col-md-11" th:inline="text">Shipping cost: $ [[${shippingCost}]]</h4>
        <h2 class="col-md-11" th:inline="text">Grand Total: $ [[${grandTotal}]]</h2>
        <a th:href="@{/checkout}" class="col-md-1">
            <button type="button" class="btn btn-danger" th:text="Checkout">Checkout</button>
        </a>
    </div>

</div>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div th:insert="base :: footer"></div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<!--
<h1>Product List</h1>
<a href="/add">Add a Product</a><br />
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <td>Actions</td>
    </tr>
    <tr th:each="product: ${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.price}"></td>
        <td>
            <a th:href="@{/addtoCart/{id}(id=${product.productId})}">Add to Cart</a> -
            <a th:href="@{/detail/{id}(id=${product.productId})}">Details</a> -
            <a th:href="@{/delete/{id}(id=${product.productId})}">Delete</a>
        </td></tr>
</table>


</body>
</html>-->
