<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:sec1="http://www.thymeleaf.org/extras/spring-security"
      xmlns:w3="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
<!--Navbar-->
<div th:insert="base :: navbar"></div>
<br><br><br>

<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>

    </tr>

    <tr th:each="user : ${users}">
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.email}"></td>
        </td>
        <td>
            <a th:href="@{updateUser/{id}(id=${user.id})}">Update User </a>&nbsp
            <a th:href="@{deleteUser/{id}(id=${user.id})}"> Delete User</a>
        </td>
    </tr>
</table>
</body>
</html>